.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 1vmin);
  color: white;
}
.App-header * {
  margin: 0;
  padding: 0;
}

.App-main {
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: inline-block;
  margin: 1rem;
  width: 650px;
  height: 650px;
  border: white solid 2px;
  cursor: pointer;
}
